apiVersion: apps/v1
kind: Deployment
metadata:
  name: raft-fuzzer
spec:
  replicas: 10
  selector:
    matchLabels:
      app: raft-fuzzer
  template:
    metadata:
      labels:
        app: raft-fuzzer
    spec:
      containers:
      - name: fuzzer
        image: ${FUZZER_IMAGE}
        env:
        - name: RUST_LOG
          value: "ERROR"
        - name: TEST_TYPE
          value: "${TEST_TYPE}"
        - name: MAX_STEPS
          value: "500000"
        - name: BUCKET_NAME
          value: "${BUCKET_NAME}"
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: "/gcp/sa.json"
        - name: SERVICE_ACCOUNT
          value: "/gcp/sa.json"
        volumeMounts:
        - name: gcp-key
          mountPath: "/gcp"
          readOnly: true
      volumes:
      - name: gcp-key
        secret:
          secretName: gcp-sa-key
---
apiVersion: v1
kind: Secret
metadata:
  name: gcp-sa-key
type: Opaque
data:
  # Run this command to generate the value:
  # export GCP_KEY_BASE_64=$(cat ~/Desktop/detsim_sa.json | base64 | tr -d '\n')
  sa.json: ${GCP_KEY_BASE64}